{% extends "base.html" %}

{% block title %}News - {{ config.title }}{% endblock title %}

{% block content %}
<!-- Main -->
<section id="main" class="wrapper style3 research-header">
    <div class="container">
        <header class="major special">
            <h2>News</h2>
        </header>
    </div>
</section>

<!-- News listing -->
<section id="news" class="wrapper style1">
    <div class="inner">
        {% for page in section.pages | sort(attribute="date") | reverse %}
        <article class="feature {{ page.extra.position | default(value='left') }}">
            {% if page.extra.image %}
            <span class="image"><img src="/images/{{ page.extra.image }}"
                    alt="{{ page.extra.image_alt | default(value='') }}" /></span>
            {% elif page.extra.video %}
            <span class="image">
                <video width="582" height="340" controls>
                    <source src="/images/{{ page.extra.video }}" type="video/mp4">
                    No support for videos in your browser :-(
                </video>
            </span>
            {% elif page.extra.youtube %}
            <iframe class="image" style="display:block;margin-left:auto;margin-right:auto;" width="400" height="300"
                src="https://www.youtube.com/embed/{{ page.extra.youtube }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
            <div class="content">
                <h2>{{ page.extra.display_date | default(value=page.date | date(format="%B %Y")) }}</h2>
                {{ page.content | safe }}
            </div>
        </article>
        <a href="#main" class="back-to-top icon fa-level-up"> back to top</a>
        {% endfor %}
    </div>
</section>
{% endblock content %}