{% macro render_media(page) %}
{% if page.extra.image %}
<span class="image"><img src="/images/{{ page.extra.image }}"
        alt="{{ page.extra.image_alt | default(value='') }}" /></span>
{% elif page.extra.video %}
<span class="image">
    <video width="582" height="340" controls>
        <source src="/images/{{ page.extra.video }}" type="video/mp4">
        No support for videos in your browser :-(
    </video>
</span>
{% elif page.extra.youtube %}
<iframe class="image" style="display:block;margin-left:auto;margin-right:auto;" width="400" height="300"
    src="https://www.youtube.com/embed/{{ page.extra.youtube }}" frameborder="0" allowfullscreen></iframe>
{% endif %}
{% endmacro render_media %}