{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block extra_head %}
<style id="abstracts-style" type="text/css">
</style>
{% endblock extra_head %}

{% block content %}
<!-- Main -->
<section id="main" class="wrapper style3 {{ page.extra.header_class | default(value='') }}">
    <div class="container">
        <header class="major special">
            <h2{% if page.extra.header_style %} style="{{ page.extra.header_style }}" {% endif %}>{{ page.title }}</h2>
        </header>
    </div>
</section>

<section id="content" class="wrapper{% if page.extra.content_style %} {{ page.extra.content_style }}{% endif %}">
    <div class="inner">
        <p>
            <span id="keywordsfiltering"></span>
        </p>

        <div style="font-size:80%">

            <input id="only-full-papers" type="checkbox" name="only-full-papers"
                onclick="this.checked ? $('#abstracts-style').html('.abstract {display:none;}'):$('#abstracts-style').html('');$('#nb-publis').html($('#publis li:visible').size());display_years()"></input>
            <label for="only-full-papers">
                <em><strong> only show full papers</strong> (hide abstracts and short workshop paper/reports)</em>
            </label>

            <em>(currently displaying <span id="nb-publis"></span> publications)</em>
            <br />

            <center>

                <strong><i class="fa fa-file-text"></i> journal</strong> | <strong><i class="fa fa-book"></i> book
                    chapter</strong> |
                <strong><i class="fa fa-users"></i> conference/workshop</strong> | <strong><i
                        class="fa fa-lightbulb"></i> patent</strong> |
                <strong><i class="fa fa-database"></i> dataset</strong> | <strong><i class="fa fa-file-pdf"></i> PDF
                    icon to download</strong>
            </center>
        </div>

        <div id="publis"></div>
        <div id="nothing-to-display"></div>


        <hr />
        <p>
            For what it is worth, <a href="https://scholar.google.ch/citations?user=-CUOP2gAAAAJ"
                alt="My Google Scholar profile">Google Scholar</a>
            has kindly collected a few statistics, including
            <strong>citations per article</strong> and overall <strong>h-index</strong>. Please note
            that <strong>these values, being automatically computed, are
                prone to errors</strong> and are indicative only!

        </p>
    </div>
</section>
{% endblock content %}

{% block extra_scripts %}
<!-- Publication Record Template -->
<template id="publication-template">
    <li class="publication-item">
        <span class="type-icon" style="margin-left:-26px"></span>
        <span style="margin-left:12px">
            <a class="main-link" style="text-decoration:none">
                <span class="type-label" style="font-variant:small-caps;font-weight:bold"></span>
                <b class="title-label"></b>
                <span class="pdf-icon icon fa fa-file-pdf" style="margin-left:10px; display:none;"></span>
            </a>
            <span class="note-label note" style="display:none;"></span>
            <br />
            <span class="authors-label"></span>
            <br />
            <span class="venue-container" style="display:none;">
                <i class="venue-label" style="margin-left:5px"></i>
            </span>
            <a class="video-link" style="margin-left:20px;cursor:pointer; display:none;"><span
                    class="icon fa-play-circle"></span> watch the video</a>
            <a class="bibtex-link" style="margin-left:20px;cursor:pointer; display:none;"><span
                    class="icon fa-child"></span> show bibtex</a>
            <a class="url-link" style="margin-left:20px; display:none;"><span class="icon fa-link"></span>Link</a>
            <a class="doi-link" style="margin-left:20px; display:none;"><span class="icon fa-certificate"></span> doi:
                <span class="doi-value"></span></a>
            <br class="award-br" style="display:none;" /><span class="award-label award icon fa-trophy"
                style="display:none;"></span>
            <pre class="bibtex-pre" style="display:none"><code></code></pre>
            <div class="video-container" style="text-align:center; display:none;">
                <video class="video-player" style="width:50%" controls>
                    Sorry, your browser doesn't support embedded videos,
                    but don't worry, you can <a class="video-download">download it</a>
                    and watch it with your favorite video player!
                </video>
            </div>
        </span>
    </li>
</template>

<!-- Publications Logic -->
<script>
    function renderPublication(pub) {
        const template = document.getElementById('publication-template');
        const clone = document.importNode(template.content, true);
        const li = clone.querySelector('li');

        li.id = pub.id;

        const typeIcon = clone.querySelector('.type-icon');
        const typeIcons = {
            'journal': 'fa-file-text',
            'chapter': 'fa-book',
            'conference': 'fa-users',
            'video': 'fa-play-circle',
            'poster': 'fa-picture',
            'dataset': 'fa-database',
            'patent': 'fa-lightbulb',
            'dissertation': 'fa-graduation-cap'
        };

        let iconClass = 'fa-question';
        if (pub.type.indexOf('abstract') > -1) {
            iconClass = 'fa-comments';
        } else if (typeIcons[pub.type]) {
            iconClass = typeIcons[pub.type];
        }
        typeIcon.className = `icon fa ${iconClass}`;
        typeIcon.style.marginLeft = "-26px";

        const mainLink = clone.querySelector('.main-link');
        if (pub.pdf) {
            mainLink.href = '/' + pub.pdf;
            mainLink.alt = "Download the PDF";
            clone.querySelector('.pdf-icon').style.display = 'inline-block';
        } else if (pub.type === 'dataset' || pub.type === 'patent') {
            mainLink.href = pub.url;
            mainLink.className += ' tooltip';
            mainLink.alt = "Download the resource";
        } else {
            mainLink.removeAttribute('href');
        }

        if (pub.type.indexOf('abstract') > -1 || ['video', 'poster', 'dataset', 'patent'].includes(pub.type)) {
            const label = pub.type.replace("abstract - ", "");
            clone.querySelector('.type-label').textContent = label + ' ';
        }

        clone.querySelector('.title-label').textContent = pub.title;

        if (pub.note) {
            const noteLabel = clone.querySelector('.note-label');
            noteLabel.textContent = pub.note;
            noteLabel.style.display = 'inline';
        }

        const authors = pub.authors.map(a => a.split(', ').reverse().join(" ")).join("; ");
        clone.querySelector('.authors-label').innerHTML = authors.replace("S. Lemaignan", "<span class=\"myname\">S. Lemaignan</span>");

        if (pub.venue) {
            clone.querySelector('.venue-container').style.display = 'inline';
            clone.querySelector('.venue-label').textContent = `${pub.venue} ${pub.year}`;
        }

        if (pub.media) { // videosrc comes from pub.media in the original loop
            const videoLink = clone.querySelector('.video-link');
            const videoContainer = clone.querySelector('.video-container');
            const videoPlayer = clone.querySelector('.video-player');
            videoLink.style.display = 'inline-block';
            videoLink.onclick = () => {
                $(videoContainer).toggle('slow');
                if ($(videoContainer).is(':visible')) {
                    videoPlayer.pause();
                }
            };
            videoPlayer.src = 'videos/' + pub.media;
            videoPlayer.poster = 'videos/' + pub.media + '.jpg';
            clone.querySelector('.video-download').href = 'videos/' + pub.media;
        }

        if (pub.bibtex) {
            const bibtexLink = clone.querySelector('.bibtex-link');
            const bibtexPre = clone.querySelector('.bibtex-pre');
            bibtexLink.style.display = 'inline-block';
            bibtexLink.onclick = () => $(bibtexPre).toggle('slow');
            bibtexPre.querySelector('code').textContent = pub.bibtex.replace(/\\n/g, "\n");
        }

        if (pub.url) {
            const urlLink = clone.querySelector('.url-link');
            urlLink.style.display = 'inline-block';
            urlLink.href = pub.url;
        }

        if (pub.doi) {
            const doiLink = clone.querySelector('.doi-link');
            doiLink.style.display = 'inline-block';
            doiLink.href = 'https://doi.org/' + pub.doi;
            clone.querySelector('.doi-value').textContent = pub.doi;
        }

        if (pub.award) {
            clone.querySelector('.award-br').style.display = 'inline';
            const awardLabel = clone.querySelector('.award-label');
            awardLabel.style.display = 'inline-block';
            awardLabel.textContent = ' ' + pub.award;
        }

        return clone;
    }

    var publication_list;
    var keywords = {};

    function remove_under_review(data) {
        var i = data.length

        while (i--) {
            if (data[i]['note'] == "under review") data.splice(i, 1);
        }

        return data;
    }



    function by_year(data) {
        var publications_by_year = new Array();

        for (var idx in data) {
            var pub = data[idx];
            if (publications_by_year[pub['year']] == null) {
                publications_by_year[pub['year']] = [];
            }
            publications_by_year[pub['year']].push(pub);
        }
        return publications_by_year;
    }

    function biblio() {

        publication_list = remove_under_review(publication_list);

        data = by_year(publication_list);

        for (var year = 2100; year > 2000; year--) {
            if (year in data) {

                $('#publis').append($("<h3 class='year'>").text(year));

                var publications = data[year];
                var ul = $('<ul class="alt fa-ul">');

                for (var idx in publications) {
                    var pub = publications[idx];

                    var is_abstract = (pub['type'].indexOf("abstract") > -1
                        || pub['type'] == "video"
                        || pub['type'] == "dataset"
                        || pub['type'] == "patent"
                        || pub['type'] == "poster")

                    var authors = pub['authors'].map(
                        function (el) {
                            return el.split(', ').reverse().join(" ");
                        }).join("; ");

                    var keywordsclasses = "no-keyword";
                    if (pub['keywords']) {
                        keywordsclasses = pub['keywords'].map(
                            function (el) {
                                var kwclass = el.split(' ').join("-").toLowerCase();
                                keywords[el] = kwclass;
                                return kwclass;
                            }).join(" ");
                    }


                    const rendered = renderPublication(pub);
                    const li = rendered.querySelector('li');

                    if (is_abstract) li.classList.add('abstract');
                    keywordsclasses.split(' ').forEach(kw => {
                        if (kw) li.classList.add(kw);
                    });

                    ul.append(rendered);
                }
                $('#publis').append(ul);
            }
        }
    }

    function filter_restore_all() {

        $('.keywords-style').html('');
        $('.keyword-filter').addClass('alt');
        $('#nb-publis').html($('#publis li:visible').size());
        display_years();
    }

    function filter(button, keyword) {

        if ($(button).hasClass('alt')) {


            $('#keyword-' + keyword + '-style').html('#publis li:not(.' + keyword + '){display:none;}');
            $(button).removeClass('alt');
        }
        else {
            $('#keyword-' + keyword + '-style').html('');
            $(button).addClass('alt');
        }

        $('#nb-publis').html($('#publis li:visible').size());
        display_years();
    }

    function display_years() {

        $('.year').each(function () {
            if ($(this).next().children(':visible').size() === 0) {
                $(this).hide();
            }
            else {
                $(this).show();
            }
        });

        if ($('.year:visible').size() === 0) {
            if ($('#only-full-papers').prop('checked')) {
                $('#nothing-to-display').html('No publications with these criteria! Maybe you want to uncheck <em>hide abstracts/short papers</em>?');
            }
            else if ($('#keywordsfiltering > a:not(.alt)').size() > 2) { // two keywords (+ 'All') selected
                $('#nothing-to-display').html('No publications with these criteria! Maybe you want to select less keywords?');
            }
        }
        else {
            $('#nothing-to-display').html('');
        }
    }

    function keyword_filters() {

        var buttons = '<a class="button special tiny" onclick="filter_restore_all()">All</a> ';

        // list keywords by alphabetical order
        var arr = [];
        for (var key in keywords) {
            if (keywords.hasOwnProperty(key)) {
                arr.push(key);
            }
        }
        arr.sort();

        for (var i = 0; i < arr.length; i++) {
            var kw = arr[i];

            $("<style type='text/css' class='keywords-style'>").prop("id", "keyword-" + keywords[kw] + "-style").html('').appendTo("head");
            buttons += '<a class="button alt tiny keyword-filter" onclick="filter($(this), \'' + keywords[kw] + '\')">' + kw + '</a> ';
        }
        return buttons;
    }

    $.getJSON("/publications.json", function (json) {
        publication_list = json;
        biblio();

        $('#nb-publis').html($('#publis li:visible').size());

        $('#keywordsfiltering').html(keyword_filters());

        // Scroll to the element with the hash in the URL -- it should now have been created
        if (window.location.hash) {
            const targetId = window.location.hash.substring(1); // Remove the '#'
            window.location.hash = "";
            const targetElement = document.getElementById(targetId);

            if (targetElement) {
                window.location.hash = targetId;
                // Smoothly scroll to the element
                targetElement.scrollIntoView({ behavior: 'smooth' });
            }
        }
    });

</script>
{% endblock extra_scripts %}